@model IEnumerable<SectionModel>

@{
    ViewBag.Title = "Sections";
}

<h2>Sections</h2>

@if (this.IsAdmin())
{
    <div>
        @Html.ActionLink("Add Section", "AddSection", "Admin", null, new { @class = "btn btn-default btn-sm offset" })
    </div>
}

<div class="col-md-8">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @if (this.IsAdmin())
            {
                <th>
                    Actions
                </th>
            }
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "TopicsInSection", new { id = item.Id, page = 1 })
                    </td>
                    @if (this.IsAdmin())
                    {
                        <td>
                            @Html.ActionLink("Edit", "EditSection", "Admin", new { id = item.Id }, null) |
                            @Html.ActionLink("Delete", "DeleteSection", "Admin", new { id = item.Id }, null)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>