@model IEnumerable<ForumPlMvc.Models.TopicListModel>

@{
    ViewBag.Title = "Section";
}

<h2>Section</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsAnswered, "IsTrueImage")
            @Html.ActionLink(item.Title, "Topic", "Home", new { id = item.Id}, null)
            <br />
            @Html.DisplayFor(modelItem => item.AuthorLogin, "SmaleText")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink(item.SectionName, "TopicsInSection", "Home", new { id = item.SectionId }, null)
        </td>
    </tr>
}

</table>

@Html.Partial("_Pagination", "Section")
