@using ForumPlMvc.Models
@using ForumPlMvc.Healpers

@model ForumPlMvc.Models.TopicDitailsModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
<hr />

<div>
    <div class="col-md-10">
        <table class="comments">
            <tr>
                <td>
                    <img class="camp_logo" src="~/Home/GetImage/@Model.Author.AvatarId" />
                    <br />
                    <br />
                    @Html.ActionLink(Model.Author.Login, "UserInfo", "User", new { id = Model.Author.Id }, new { @class = "login" })
                </td>
                <td class="text">
                    @Html.DisplayFor(model => model.Text)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Date)
                </td>
            </tr>
        </table>

        @if (this.IsAdminOrModerator())
        {
            @Html.ActionLink("Edit Topic", "EditTopic", "Moderator", new { id = Model.Id }, new { @class = "btn btn-default btn-sm offset" })
        }

        <table class="comments offset" id="ajax-result">
            @Html.Partial("_Comments", @Model.Comments)
        </table>

        <div id="loading">
            <p>Loading...</p>
        </div>

        <noscript>
            @Html.Partial("_Pagination")
        </noscript>
        
        <div id="ajax">
            @{ ViewBag.AjaxId = Model.Id; }
            @Html.Partial("_AjaxPagination", "_Comments")
        </div>

        @Html.Partial("~/Views/User/_AddComment.cshtml", new AddCommentModel() { TopicId = Model.Id })

    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/ajax")
}
