<div class="account-menu">
    <div>@Html.ActionLink("My Info", "UserInfo", "User")</div>
    <div>@Html.ActionLink("My Topics", "Topics", "User")</div>
    @if (this.IsAdminOrModerator())
    {
        <div>@Html.ActionLink("All Topics", "Topics", "Moderator")</div>
        <div>@Html.ActionLink("All Comments", "Comments", "Moderator")</div>
    }
    @if (this.IsAdmin())
    {
        <div>@Html.ActionLink("Users", "Users", "Admin")</div>
    }
    <div>@Html.ActionLink("Setting", "Setting", "User")</div>
</div>
