<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Home/GetImage/2" />
    @Styles.Render("~/Content/css")
</head>

<body>
    <!--<header>
        <div>
            <img src="img/logo.png" width="65" height="60" alt="logo">
            <span class="sitename">Galaxy Forum</span>
        </div>
    </header>-->

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Home/GetImage/2" width="50" height="50" alt="logo" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sections", "Sections", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                @if (Request.IsAuthenticated)
                {
                    Html.RenderPartial("_AccountMenu");
                }
            </div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                @RenderBody()
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
        </div>
    </div>

    <footer>
        <span class="footer-center-content">Pashkovski Sergey &copy; @DateTime.Now.Year</span>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
