@model IEnumerable<TopicListModel>

@{
    ViewBag.Title = "Section";
}

@section body
{
    <h2>Topics</h2>

    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Add Topic", "CreateTopic", "User", null, new { @class = "btn btn-default btn-sm offset" })
    }

    @if (this.IsAdminOrModerator())
    {
        @Html.ActionLink("Get Raw Topic", "GetRawTopic", "Moderator", null, new { @class = "btn btn-default btn-sm offset" })
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>
            @if (ViewBag.IsShowStatus)
            {
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            }
        </tr>

        <tbody id="ajax-result">
            @Html.Partial("_Topics", Model)
        </tbody>
    </table>

    <div id="loading">
        <p>Loading...</p>
    </div>

    <noscript>
        @Html.Partial("_Pagination")
    </noscript>

    <div id="ajax">
        @Html.Partial("_AjaxPagination", "_Topics")
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/ajax")
}
